---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import Title from "../components/Title.astro";
---

<Layout title="Minimalist Dragon | Portfolio">
	<header><Navbar /></header>
		<main>
			<section class="about">
				<img src="Icone-Kevin.png" alt="profile picture"/>
				<article>
					<p>Bonjour ! Je m'appelle Kévin Camus.</p>
					<Title text="Apprenti développeur"/>
				</article>
				<p class="presentation">Passionné par le développement et toujours en quête de nouvelles compétences, 
					j'aime travailler sur des projets variés allant du web au backend. 
					<br>Découvrez mes projets ci-dessous !</p>
<!--				<Button message="Latest Posts" icon="/external-link.svg" link="#"/> -->
			</section>
			<section class="skills">
				<Title text="Compétences & Outils"/>
				<section>
					<SkillCard 
						title="Base de données"
						description="Optimisation des processus, interrogation de base de données, création de requêtes (MSSQL, MySQL)"
						icon="/database.svg"
					/>
					<SkillCard 
						title="Développement Full-Stack"
						description="Création de sites web (PHP, HTML/CSS, Astro) et d'applications mobiles (API Java, Kotlin)"
						icon="/server.svg"
					/>
					<SkillCard 
						title="Frameworks & Bibliothèques"
						description="Expérience avec Android Studio, Next.js, React, Symfony et Spring Boot"
						icon="/database.svg"
					/>
					<SkillCard 
						title="Outils & Environnement"
						description="Utilisation de Postman, Git, GLPI et TortoiseSVN"
						icon="/database.svg"
					/>

				</section>
			</section>
			<section class="work">
				<Title text="Mes Projets"/>
				<section>
					<ProjectCard 
					title="Déclaration des rebuts internes"
					description="Interface SILOG afin de suivre les pièces comportant un défaut dans notre atelier."
					/>		
					<ProjectCard 
						title="Interface Mail"
						description="Nouvelle interface mail sur SILOG."
					/>
					<ProjectCard 
						title="Projet de gestion immobilière"
						description="Création d'une API REST et développement d'une interface mobile."
					/>
				</section>
				
			</section>
			<section class="contact">
				<Title text="Contactez-moi !"/>
				<Button message="Envoyer un message" icon="/email.svg" link="mailto:kevincamus05@gmail.com"/>
			</section>
		</main>
		<Footer />
</Layout>

<style>
	main {
		margin: 50px auto 0 auto;
		max-width: 1020px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 100%;
		height: calc(100vh - 50px);
		text-align: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0 20px;
	}

	.about > img {
		width: 150px;
		border-radius: 9999px;
		object-fit: cover;
	}

	.about > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about > article > p {
		color: #1e1e1e;
		font-style: italic;
	}

	.presentation {
		color: #1e1e1e;
		font-size: 1.2rem;
		text-align: center;
		max-width: 600px;
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgba(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}

	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}

		.about > img {
			width: 100px;
		}
	}
</style>
